@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');
body {
    margin:145px 0 0 0; 
    color:rgb(160,101,2);
    background-image:url(images/background.png);
    background-attachment:fixed;
    font-family: 'Roboto', sans-serif;
}
header{
    position:fixed;
    top:0;
    left:0;
}
main{
    padding: 0 0 0 10px; 
    font-weight:700;
}
.info{
    width: 90%;
    height: menu;    
}
.anew{
    margin:20px 0;
    padding: 0 2px;
    color:rgb(224,188,97);
    background-color:rgb(160,101,2);
}
.anew:hover{
    margin:20px 0;
    padding: 0 2px;
    color:rgb(160,101,2);
    background-color:rgb(224,188,97);   
    transform:scale(1.1);
    transition:90ms;
}
.news {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    width: 175px;
    height:main;
    text-align: center;
    background-color:rgb(160,101,2);
    color:rgb(224,188,97);
    border:4px solid rgb(224,188,97);
}
h1{
    font-size:50px;
    margin: 35px 8px 0px 0px;
    
}
h2{
    font-size:30px;
}
p{
    font-size:20px;
}
strong{
    font-size:26px;
}
header,footer{
    color:rgb(224,188,97);
    background-color:black;
}
ul,ol{
    font-size:22px;
}
a:hover{
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:rgb(160,101,2)
}
a{
    font-size:20px;
    text-decoration: none;
    color:rgb(224,188,97);
    font-family: 'Roboto', sans-serif;
    
}
.headerfooter{
    display: flex;
    justify-content: space-around;
}
.footerp {
    padding-left: 7px;
}   
.article1 {
    padding: 0 0 1px 10px;
    color:rgb(224,188,97);
    background-color:rgb(160,101,2);
}
.article2 {
    padding: 0 0 1px 10px; 
    color:rgb(160,101,2);
    background-color:rgb(224,188,97);
}
.articleStart{
    padding: 1px 0 1px 10px; 
    color:rgb(224,188,97);
    background-color:rgb(160,101,2);
    font-weight:700;
}
nav{
    margin: 45px 5px 0 5px; 
}
#Mail{
    padding: 8px 2px 0 3px;
}
.contacs{
    display: flex;
    margin-left:auto;
    margin-right: 10px;
}
.img{
    padding:5%;
    border: 4px solid black;
}
.img > div{
    padding: 10px; 
    font-size:50px; 
    text-align: center; 
}
#Potato{
    font-size:50px;
    padding: 10px;
    text-align: center; 
}
.citate{
    font-size: 22px;
}
